<div class="card w-100">
  <div class="card-header">
      <form (ngSubmit)="onSubmit()" #form="ngForm">
          <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="locationid">Location ID</label>
                  <input type="number" class="form-control" id="locationid" placeholder="Location ID" [(ngModel)]="locationId"
                      name="locationId">
              </div>
              <div class="form-group col-md-6">
                  <label for="inputPassword4">Object Type ID</label>
                  <input type="number" class="form-control" id="typeId" placeholder="ObjectTypeId"
                      [(ngModel)]="options.objecttypeid" name="objecttypeid">
              </div>
          </div>
          <div class="form-group">
              <div class="form-check col-md-6">
                  <input class="form-check-input" type="checkbox" id="archivable" [(ngModel)]="options.archivable"
                      name="archivable">
                  <label class="form-check-label" for="archivable">
                    Archivable
                  </label>
              </div>
          </div>
          <div class="form-group">
            <label for="query">query</label>
            <textarea class="form-control" id="query" rows="7" [(ngModel)]="query"
            name="query"></textarea>
          </div>
          <div class="form-group">
            <label for="file">file</label>
            <input type="file" class="form-control-file" id="file" [(ngModel)]="file"
            name="query" (change)="onFileSelect($event)">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid || loading">Execute</button>
      </form>
  </div>
  <div class="card-body">
      <div *ngIf="result && !loading">
        {{result | json}}
      </div>
      <pre class="text-danger" *ngIf="error && !loading">
          {{error | json}}
      </pre>
  </div>
</div>
