<div class="card-deck">
  <div class="card">
      <div class="card-body">
          <a routerLink="/dms/search" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <h5 class="card-title">DMSSearchService</h5>
              <p class="card-text">The endpoint /objects/search is the central endpoint for searching objects inside the enaio® ECM. The query language based on CMIS serves to standardize DMS requests to the enaio® ECM system.</p>
              <p class="card-text"><small class="text-muted"></small></p>
          </a>
      </div>
  </div>
</div>
